.border-0 {border:none;}

.border {border:1px solid #dee2e6;}

.border-top {border-top:1px solid #dee2e6;} 
.border-bottom {border-bottom:1px solid #dee2e6;} 
.border-start {border-left:1px solid #dee2e6;} 
.border-end {border-right:1px solid #dee2e6;}

.border-2 {border-width:2px;}
.border-3 {border-width:3px;} 
.border-4 {border-width:4px;}
.border-5 {border-width:5px;}

.border-dotted {border-style:dotted;}
.border-dashed {border-style:dashed;}
.border-double {border-style:double;}
