.grayscale-100, .hover-grayscale:hover {filter: grayscale(100%);} 
.grayscale-75 {filter: grayscale(75%);} 
.grayscale-50 {filter: grayscale(50%);}
.grayscale-25 {filter: grayscale(25%);}

.sepia-100, .hover-sepia:hover {filter: sepia(100%);} 
.sepia-75 {filter: sepia(75%);} 
.sepia-50 {filter: sepia(50%);}
.sepia-25 {filter: sepia(25%);}

.brightness-150:hover {filter: brightness(175%);}
.brightness-150:hover {filter: brightness(150%);}
.brightness-125:hover {filter: brightness(125%);}
.brightness-75:hover {filter: brightness(75%);}
.brightness-50:hover {filter: brightness(50%);}
.brightness-25:hover {filter: brightness(25%);}
